In [ ]:
ls

2017-fordgobike-tripdataa.csv  sample_data/

In [ ]:
pwd

'/content'

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
!ls

2017-fordgobike-tripdataa.csv  spark-3.1.1-bin-hadoop3.2
sample_data		       spark-3.1.1-bin-hadoop3.2.tgz

In [ ]:
!pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("Google Colab - PySpark Demo") \
        .master("local[*]") \
        .getOrCreate()

In [ ]:
pip install haversine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting haversine
  Downloading haversine-2.8.0-py2.py3-none-any.whl (7.7 kB)
Installing collected packages: haversine
Successfully installed haversine-2.8.0

In [ ]:
from haversine import haversine
from pyspark.sql.types import *
from pyspark.sql.functions import *
import pyspark.sql.functions as f
from geopy.distance import geodesic
from datetime import datetime
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
import pyspark.sql.functions as F

# Tasks
## Week 1
###1 - open databricks account  - v
###2 - clean the dataset - v
###3 - calculate distance of each trip using haversine library and add the result to the dataset - v

##Week 2
###1 - calculate the duration in seconds of each trip - x
###2 - by assuming each minute cost 0.35 cent calculate the fee for each trip
###3 - calculate the total distance for each bike and list the top 10

##Week 3
###1 - calculate the number of trips for each start station list top 10 and find the ratio of using as male or female
###2 - make a comparison to find the percentage of usage for customer and subscriber
###3 - calculate the age of all users and show the relation between the distance and the age
###4 - prepare for you presentation

##Week 4
###1 - calculate the total cost for all customers and all subscribers
###2 - Analyze how often bikes are being rented ( morning - afternoon - evening) and and find the density for each hour of the day
###3 - find if there is a relation between the time and start stations

##Week 5
###1 - what is the ratio from credit card or app wallet

# Week 1

task 3 - calculate distance of each trip using haversine library and add the result to the dataset

In [ ]:
df = spark.read.csv('2017-fordgobike-tripdataa.csv', inferSchema = True, header = True)

In [ ]:
def haversine_distance(lat1, lon1, lat2, lon2):
    start = (lat1, lon1)
    end = (lat2, lon2)
    distance = haversine(start, end)
    return distance

calculate_distance = udf(haversine_distance, DoubleType())

# Apply the user-defined function to the DataFrame
df = df.withColumn("distance", calculate_distance(df.start_station_latitude, df.start_station_longitude, df.end_station_latitude, df.end_station_longitude))

In [ ]:
df.show()

+----------+---------------+-----------------+------------------+---+--------+-------------+---------------+----------------+---+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+-----------------+-------------+-----------+
|start_time|start time hour|start time minute|start time seconds|_c4|end_time|end_time hour|end_time minute|end_time seconds|_c9|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude|bike_id| user_type|member_birth_year|member_gender|     pyment|
+----------+---------------+-----------------+------------------+---+--------+-------------+---------------+----------------+---+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+-----------------+-------------+-----------+
|   57:39.7|              4|               57|                40| PM| 12:50.2|            3|             12|              50| PM|              74|Laguna St at Haye...|           37.77643482|            -122.426244|            43|San Francisco Pub...|          37.7787677|         -122.4159292|     96|  Customer|             1987|         Male|credit card|
|   56:34.8|              3|               56|                35| PM| 49:55.6|            1|             49|              56| PM|             284|Yerba Buena Cente...|           37.78487208|           -122.4008757|            96|Dolores St at 15t...|          37.7662102|         -122.4266136|     88|  Customer|             1965|       Female|credit card|
|   45:48.4|             10|               45|                48| PM| 28:36.9|           11|             28|              37| AM|             245|Downtown Berkeley...|            37.8703477|           -122.2677637|           245|Downtown Berkeley...|          37.8703477|         -122.2677637|   1094|  Customer|             null|         null|credit card|
|   31:10.6|              5|               31|                11| PM| 47:23.5|           10|             47|              24| AM|              60|8th St at Ringold St|            37.7745204|           -122.4094494|             5|Powell St BART St...|         37.78389936|         -122.4084449|   2831|  Customer|             null|         null|credit card|
|   23:14.0|              2|               23|                14| PM| 29:57.6|            2|             29|              58| AM|             239|Bancroft Way at T...|            37.8688126|            -122.258764|           247|Fulton St at Banc...|          37.8677892|         -122.2658964|   3167|Subscriber|             1997|       Female| app wallet|
|   51:00.9|             10|               51|                 1| PM| 24:47.2|            1|             24|              47| AM|              30|San Francisco Cal...|             37.776598|            -122.395282|            30|San Francisco Cal...|           37.776598|          -122.395282|   1487|  Customer|             null|         null| app wallet|
|   49:28.4|             11|               49|                28| PM| 04:35.6|            1|              4|              36| AM|             259|Addison St at Fou...|             37.866249|           -122.2993708|           259|Addison St at Fou...|           37.866249|         -122.2993708|   3539|  Customer|             1991|       Female| app wallet|
|   46:37.2|             11|               46|                37| PM| 58:51.2|           12|             58|              51| AM|             284|Yerba Buena Cente...|           37.78487208|           -122.4008757|           284|Yerba Buena Cente...|         37.78487208|         -122.4008757|   1503|  Customer|             null|         null| app wallet|
|   37:07.5|             11|               37|                 8| PM| 46:18.3|           12|             46|              18| AM|              20|Mechanics Monumen...|               37.7913|            -122.399051|            20|Mechanics Monumen...|             37.7913|          -122.399051|   3125|  Customer|             null|         null| app wallet|
|   35:38.1|             11|               35|                38| PM| 46:17.1|           12|             46|              17| AM|              20|Mechanics Monumen...|               37.7913|            -122.399051|            20|Mechanics Monumen...|             37.7913|          -122.399051|   2543|  Customer|             null|         null| app wallet|
|   46:32.4|             11|               46|                32| PM| 41:24.6|           12|             41|              25| AM|             284|Yerba Buena Cente...|           37.78487208|           -122.4008757|            22|Howard St at Beal...|           37.789756|          -122.394643|   3058|  Customer|             null|         null|credit card|
|   48:11.8|             11|               48|                12| PM| 41:09.6|           12|             41|              10| AM|             284|Yerba Buena Cente...|           37.78487208|           -122.4008757|            22|Howard St at Beal...|           37.789756|          -122.394643|   3197|  Customer|             null|         null| app wallet|
|   52:55.6|             11|               52|                56| PM| 29:18.7|           12|             29|              19| AM|              67|San Francisco Cal...|            37.7766392|           -122.3955263|            24|Spear St at Folso...|          37.7896767|         -122.3904285|   2311|Subscriber|             1990|         Male|credit card|
|   52:55.9|             11|               52|                56| PM| 29:06.9|           12|             29|               7| AM|              67|San Francisco Cal...|            37.7766392|           -122.3955263|            24|Spear St at Folso...|          37.7896767|         -122.3904285|   3717|Subscriber|             1990|         Male| app wallet|
|   35:23.2|             11|               35|                23| PM| 20:20.8|           12|             20|              21| AM|              66|3rd St at Townsen...|           37.77874161|           -122.3927408|            23|The Embarcadero a...|           37.791464|          -122.391034|   3452|  Customer|             null|         null|credit card|
|   53:38.9|             11|               53|                39| PM| 19:23.0|           12|             19|              23| AM|              14|Clay St at Batter...|             37.795001|             -122.39997|            27|Beale St at Harri...|          37.7880593|         -122.3918648|    558|Subscriber|             1980|       Female|credit card|
|   54:40.1|             11|               54|                40| PM| 19:14.4|           12|             19|              14| AM|              14|Clay St at Batter...|             37.795001|             -122.39997|            27|Beale St at Harri...|          37.7880593|         -122.3918648|   3646|Subscriber|             1979|         Male| app wallet|
|   55:09.7|             11|               55|                10| PM| 18:26.7|           12|             18|              27| AM|              78| Folsom St at 9th St|            37.7737172|           -122.4116467|            15|San Francisco Fer...|           37.795392|          -122.394203|   1667|  Customer|             null|         null| app wallet|
|   52:49.5|             11|               52|                49| PM| 18:22.0|           12|             18|              22| AM|              78| Folsom St at 9th St|            37.7737172|           -122.4116467|            15|San Francisco Fer...|           37.795392|          -122.394203|   3114|Subscriber|             1988|        Other| app wallet|
|   46:34.0|             11|               46|                34| PM| 06:50.1|           12|              6|              50| AM|               4|Cyril Magnin St a...|           37.78588063|            -122.408915|           123|Folsom St at 19th St|          37.7605936|         -122.4148171|   1473|Subscriber|             1971|         Male|credit card|
+----------+---------------+-----------------+------------------+---+--------+-------------+---------------+----------------+---+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+-----------------+-------------+-----------+
only showing top 20 rows

In [ ]:
start_time = F.concat_ws(":", "start time hour", "start time minute", "start time seconds", "_c4")
end_time = F.concat_ws(":", "end_time hour", "end_time minute", "end_time seconds", "_c9")
df = df.withColumn("starttime", to_timestamp('start_time'))
df = df.withColumn("endtime", to_timestamp('end_time'))

In [ ]:
df.show()

In [ ]:
from pyspark.sql.functions import unix_timestamp, from_unixtime, when, concat_ws, to_timestamp

In [ ]:
df = df.withColumn("duration", when(df.start_time < df.end_time, (df.end_time - df.start_time). cast("double")).otherwise((df.start_time - df.end_time).cast("double")))

In [ ]:
payment_ration = df.groupBy('pyment').count()
display(payment_ration)

+-----------+------+
|     pyment| count|
+-----------+------+
| app wallet|260061|
|credit card|259639|
+-----------+------+

In [ ]:
ratio_pyment = df.filter(df.pyment == "app wallet").count() / df.filter(df.pyment == 'credit card').count()
ratio_pyment

1.0016253336363181

In [ ]:
users = df.groupBy(['user_type', 'pyment']).count()
users

+----------+-----------+------+
| user_type|     pyment| count|
+----------+-----------+------+
|Subscriber| app wallet|204727|
|  Customer| app wallet| 55334|
|  Customer|credit card| 55136|
|Subscriber|credit card|204503|
+----------+-----------+------+

In [ ]:
user_pivot = df.groupBy('user_type').pivot('pyment').count()
user_pivot

+----------+----------+-----------+
| user_type|app wallet|credit card|
+----------+----------+-----------+
|Subscriber|    204727|     204503|
|  Customer|     55334|      55136|
+----------+----------+-----------+